<a href="https://colab.research.google.com/github/sumanu9400/-Data-Science-Concepts-With-Real-World-Examples/blob/main/Data_Science_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

UNIT - 01

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
result = []
for i in range(len(a)):
    result.append(a[i] + b[i])
result

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
result = a + b
result

In [ ]:
import numpy as np

arr = np.array([[1, 2], [3, 4]])
print(arr)

In [ ]:
arr.shape   # (2,2)
arr.ndim    # 2
arr.dtype   # int32 or int64

In [ ]:
np.sqrt([1, 4, 9])        # Square root
arr
np.exp([1, 2, 3])         # Exponential
arr
np.log([1, 10, 100])      # Logarithm
arr
np.sin(np.pi/2)           # 1.0
arr
np.max([1, 5, 3])         # 5
arr
np.mean([1, 2, 3, 4])     # 2.5

In [ ]:
import numpy as np

# Define matrices
A = np.array([[1, 2],
              [3, 4]])

B = np.array([[5, 6],
              [7, 8]])

print("Matrix A:\n", A)
print("Matrix B:\n", B)

# 1. Matrix Multiplication
print("\n1. Matrix Multiplication (A @ B):\n", A @ B)

# 2. Dot Product
print("\n2. Dot Product (A dot B):\n", np.dot(A, B))

# 3. Transpose
print("\n3. Transpose of A:\n", A.T)

# 4. Determinant
print("\n4. Determinant of A:", np.linalg.det(A))

# 5. Inverse
print("\n5. Inverse of A:\n", np.linalg.inv(A))

# 6. Eigenvalues & Eigenvectors
eigen_vals, eigen_vecs = np.linalg.eig(A)
print("\n6. Eigenvalues:", eigen_vals)
print("   Eigenvectors:\n", eigen_vecs)

# 7. Norm of a Matrix
print("\n7. Matrix Norm (||A||):", np.linalg.norm(A))

# 8. Solve Linear Equation Ax = b
b = np.array([5, 6])
x = np.linalg.solve(A, b)
print("\n8. Solution of Ax = b:", x)

In [ ]:
import numpy as np

np.random.seed(6)

print("1. Random floats (rand):", np.random.rand(3))
print("2. Random integers (randint):", np.random.randint(1,10, 3))
print("3. Normal distribution (randn):", np.random.randn(4))
print("4. Seed is set to 0, outputs will repeat each run.")

UNIT - 02

In [ ]:
import pandas as pd

data = {
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 19],
    "City": ["Hyd", "Tirupati", "Delhi"]
}

df = pd.DataFrame(data)
print(df)

In [ ]:
df[["Name", "Age"]]

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0]        # by position

In [ ]:
print(df.index)
print(df.columns)

In [ ]:
df.index = ['a', 'b', 'c']

In [ ]:
df[df["Age"] > 20]

In [ ]:
df["Score"] = [85, 90, 95]

In [ ]:
print(df)

In [ ]:
df.describe()

In [ ]:
df[['Age', 'Score']].corr()

In [ ]:
df[['Age', 'Score']].cov()

In [ ]:
df["City"].unique()

In [ ]:
df["City"].value_counts()

In [ ]:
df["City"].isin(["Hyd", "Delhi"])

In [ ]:
import pandas as pd
import requests

url = "https://jsonplaceholder.typicode.com/posts"
data = requests.get(url).json()

df = pd.DataFrame(data)
print(df.head())

UNIT - 03

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["A", "B", None],
    "Age": [20, None, 22],
    "City": ["Hyd", "Delhi", None]
})

print(df.isna())      # OR df.isnull()
print(df.notna())

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(how="all")

In [ ]:
df.fillna("Unknown")

In [ ]:
df["Age"].fillna(df["Age"].mean())
df["Age"].fillna(df["Age"].median())
df["City"].fillna(df["City"].mode()[0])

In [ ]:
df.fillna(method="ffill")

In [ ]:
df.fillna(method="bfill")

In [ ]:
df.drop_duplicates()

In [ ]:
df.replace({"Hyd": "Hyderabad"})

In [ ]:
import pandas as pd

# Re-create the DataFrame for context (assuming it's similar to the previous one)
df = pd.DataFrame({
    "Name": ["A", "B", "C"],
    "Age": [20, 21, 19],
    "City": ["Hyd", "Tirupati", "Delhi"],
    "Score": [85, 90, 95]
})
df.index = ['a', 'b', 'c']

# Add the new 'Gender' column
df['Gender'] = ['M', 'F', 'M']

print(df)

Once the 'Gender' column is added, you can then apply the mapping you intended:

In [ ]:
df['Gender'] = df['Gender'].map({"M": "Male", "F": "Female"})
print(df)

In [ ]:
print(df)

In [ ]:
import pandas as pd

marks = pd.Series([20, 55, 70, 90])

bins = [0, 50, 75, 100]
labels = ["Poor", "Average", "Good"]

print(pd.cut(marks, bins, labels=labels))

In [ ]:
df["Age"] = (df["Age"] - df["Age"].min()) / (df["Age"].max() - df["Age"].min())

In [ ]:
s = "  hello world  "

print(s.upper())     # HELLO WORLD
print(s.lower())     # hello world
print(s.strip())     # remove spaces
print(s.replace("world", "Python"))
print(s.startswith("h"))
print(s.endswith("d"))
print(s.split())

UNIT - 04

✅ 1. Hierarchical Indexing (MultiIndex)
Real-Life Example: Sales data for different cities & months

In [ ]:
import pandas as pd

sales = pd.Series(
    [1200, 1500, 1800, 2200],
    index=[['Hyderabad','Hyderabad','Chennai','Chennai'],
           ['Jan','Feb','Jan','Feb']]
)

print(sales)

Selecting Chennai-Feb sales

In [ ]:
sales.loc[('Chennai','Feb')]

✅ 2. merge() — SQL Style Join
Real-Life Example: Customer table + Orders table

In [ ]:
customers = pd.DataFrame({
    'cust_id':[101,102,103],
    'name':['Ravi','Sita','Kiran']
})

orders = pd.DataFrame({
    'cust_id':[101,103,103],
    'order_amount':[500,1200,800]
})

merged = pd.merge(customers, orders, on='cust_id', how='inner')
print(merged)

✅ 3. join() — Join Based on Index
Real-Life Example: Student marks stored with index

In [ ]:
df1 = pd.DataFrame({'math':[90,85,78]}, index=['A','B','C'])
df2 = pd.DataFrame({'science':[88,92,80]}, index=['A','B','C'])

res = df1.join(df2)
print(res)

✅ 4. concat() — Combine Datasets (Add rows or columns)


A. Row-wise concatenation
Real-life: Adding new monthly sales.

In [ ]:
jan = pd.DataFrame({'sales':[1000, 1200]}, index=['Store1','Store2'])
feb = pd.DataFrame({'sales':[1300, 1250]}, index=['Store1','Store2'])

res = pd.concat([jan, feb])
print(res)

B. Column-wise concatenation

In [ ]:
temp = pd.DataFrame({'temp':[35, 32]}, index=['Hyd','Chennai'])
humidity = pd.DataFrame({'hum':[60, 58]}, index=['Hyd','Chennai'])

res = pd.concat([temp, humidity], axis=1)
print(res)

✅ 5. pivot() — Reshaping Data (wide format)


Real-Life Example: Temperature recorded for cities

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'city':['Hyd','Hyd','Chennai','Chennai'],
    'month':['Jan','Feb','Jan','Feb'],
    'temp':[30, 32, 28, 29]
})

pivoted = df.pivot(index='month', columns='city', values='temp')
print(pivoted)

✅ 6. pivot_table() — Pivot + Aggregation


Real-Life Example: Multiple sales entries per month

In [ ]:
df = pd.DataFrame({
    'city':['Hyd','Hyd','Hyd','Chennai'],
    'month':['Jan','Jan','Feb','Jan'],
    'sales':[200,300,250,400]
})

pt = df.pivot_table(index='city', columns='month', values='sales', aggfunc='sum')
print(pt)

✅ 7. melt() — Wide → Long Format


Real-Life Example: Student marks

In [ ]:
df = pd.DataFrame({
    'name':['Ravi','Sita'],
    'math':[80, 90],
    'science':[85, 95]
})

melted = pd.melt(df, id_vars=['name'], var_name='subject', value_name='marks')
print(melted)

✅ 8. stack() / unstack()

Real-Life Example: Sales with MultiIndex

In [ ]:
df = pd.DataFrame(
    [[1200, 1500], [1800, 1600]],
    index=['Hyd','Chennai'],
    columns=['Jan','Feb']
)

In [ ]:
print(df.unstack())

In [ ]:
print(df.stack())

UNIT - 5

⭐ Matplotlib API Primer
Basic Line Plot

In [ ]:
import matplotlib.pyplot as plt

x = [1, 2, 3, 4]
y = [10, 20, 15, 25]

plt.plot(x, y, marker='o')
plt.title("Simple Line Plot")
plt.xlabel("X Values")
plt.ylabel("Y Values")
plt.show()

⭐ Bar Chart

In [ ]:
products = ["A", "B", "C"]
sales = [120, 90, 150]

plt.bar(products, sales)
plt.title("Product Sales")
plt.xlabel("Products")
plt.ylabel("Sales")
plt.show()

⭐ Histogram

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

data = np.random.randn(200)
plt.hist(data, bins=20)
plt.title("Data Distribution")
plt.show()

✅ 2. Plotting with Pandas

Pandas makes charts easier because it uses Matplotlib underneath.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "year": [2020, 2021, 2022],
    "revenue": [100, 150, 200]
})

df.plot(kind="line", x="year", y="revenue", marker="o", title="Company Revenue Growth")
plt.show()

✅ 3. Plotting with Seaborn

Seaborn = Beautiful visualizations + statistics.

In [ ]:
import seaborn as sns

tips = sns.load_dataset("tips")

sns.scatterplot(data=tips, x="total_bill", y="tip")
plt.title("Bill vs Tip")
plt.show()

In [ ]:
sns.boxplot(data=tips, x="day", y="total_bill")
plt.title("Bill Distribution by Day")
plt.show()

✅ 5. Data Aggregation and Group Operations

Grouping allows you to perform operations on groups of data.

⭐ GroupBy Mechanics
Example Dataset

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "team": ["A", "A", "B", "B", "B"],
    "sales": [100, 150, 200, 50, 70]
})

Grouping

In [ ]:
grouped = df.groupby("team")

⭐ Data Aggregation

Common aggregations:

In [ ]:
df.groupby("team")["sales"].sum()

In [ ]:
df.groupby("team")["sales"].agg(["mean", "max", "min"])

⭐ Apply: Split–Apply–Combine

Used when aggregation isn’t enough.

Example:

Apply 10% discount to each team’s average sales:

In [ ]:
def discount(x):
    return x.mean() * 0.9

df.groupby("team")["sales"].apply(discount)

⭐ Pivot Tables

Pivot tables summarize data in table form.

Example:

Sales by team and category

In [ ]:
df = pd.DataFrame({
    'team': ['A','A','B','B'],
    'category': ['Food','Tech','Food','Tech'],
    'sales': [100,200,150,220]
})

pd.pivot_table(df, values='sales', index='team', columns='category', aggfunc='sum')

⭐ Cross-Tabulation

Used for counting categories.

Example:

In [ ]:
pd.crosstab(df['team'], df['category'])